body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-btween;
    align-items: center;
    padding: 0 16px;
    background-color: #972ca5;
    color: white;
}

.container {
    margin: 8px 32px;
}

#my-title {
    color: rebeccapurple;
}

#myImage {
    display: none;
}
